.comment-item {
  margin: 1rem auto;
  min-width: 17.5rem;
  }
  
  .comment-item__content {
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0rem;
    color: white;
    background: #292929;
  }
  
  .comment-item__info {
    font-size: 1rem;
    font-weight:normal;
    padding:0.5rem;
    text-align: left;
    color: #FFF;

  }
  
  .comment-item__image {
    display:flex;
    width: 100%;
    height:100%;
    margin-top:0.5rem;
    margin-left:0.5rem;
    justify-content: center;
    align-items: center;
  }

  .comment-item__image p{
    font-size: 1.5rem;
    width:100%;
    height:100%;
    margin-left:1rem;
    text-align: left;
  }
  .comment-item__image button{
    height:20%;
    
  }
  
  .comment-item__image img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-left: 2rem;
    border-radius: 50%;
    object-fit: cover;
  }
  

  
  .comment-item__modal-content {
    padding: 0;
  }
  
  .comment-item__modal-actions {
    text-align: right;
  }
  
  .comment-item__actions button,
  .comment-item__actions a {
    margin: 0.5rem;
  }
  
